form {
    margin-left: auto;
    margin-right: auto;
}

.word-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    height: 65vh;
}

.label {
    padding: 2em;
}