@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: rgb(58, 58, 58);
}

.header {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, p, label {
  color: rgb(106, 255, 106);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 300%;
}

svg {
  height: 70vh;
  display: block;
  margin: auto;
}

input[type=submit]{
  color: black;
  font-family: 'Bebas Neue', cursive;
  background-color: rgb(110, 110, 110);
  color: rgb(106, 255, 106);
}

form {
  margin-left: auto;
  margin-right: auto;
}

.App-header{
  margin-left: auto;
  margin-right: auto;
}

.main-body-container {
  display: flex;
  align-items: center;
}